*
    box-sizing: border-box; /* include padding and border is size calcs */

.inline
    background-color: #eee;

.content__default a
        text-decoration: underline;

.content__default a:hover
    text-decoration: none;